body{
    background-image: url('bg3.jpg');
}
.login{
    color:white;
    width:300px;
    height: 400px;
    background-color:rgb(6, 6, 53);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 10px 10px;
    border: 3px solid black;
}
h1{
    color:whitesmoke;
    font-size: 30px;
    text-align: center;
}
p{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
::placeholder{
    color:lightcyan;
}
.login input[type="text"], input[type="password"]{
    border:none;
    font-size: 15px;
    background: scroll;
    width: 250px;
    border-bottom: 1px solid white;
    color: white;
}
.login button{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
    font-size:medium
}
.login button:hover{
    background-color:lightskyblue;
}
a{
    color:lightslategrey;
}